<div class="intro-header"></div>
<div id="section wrap">
	<%= render 'layouts/header' %> 
	<div class="container mainBody">
		<div class="row">
			<div class="page-header">
			  <h2>Step 1 of 8: Intro</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-1"></div>
			<div class="col-sm-5">
				<video id='introVideo' data-uuid='v-06e647be-b3f1-4a3f-aa16-713410294c6b'></video>
			</div>
			<div class="col-sm-5">
				<div class="row textArea">
					<h5 class="specialFontSize intro">Play the video to hear a short intro to our project.</h5>
				</div>
				<div class="row buttonArea">
					<%= link_to "Take me to Step 2", step2_path, :method => "get", class: "btn btn-success inputButton2" %>
				</div>	
			</div>
			<div class="col-sm-1"></div>
		</div>
	</div>
</div>