<div class="intro-header"></div>
<div id="section wrap">
	<%= render 'layouts/header' %> 
	<div class="container mainBody">
		<div class="row">
			<div class="page-header">
			  <h2>Step 8 of 8: Thank you!</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-1"></div>
			<div class="col-sm-5">
				<h4>We appreciate both your time and input!</h4></br>
				<h4>Before you go....Do you know others who might be interested in this area? If so, please pass the word--we'd love to hear what they think!</h4>
			</div>
			<div class="col-sm-5">
				<div class="row textAreaThanks"></div>
				<div class="row buttonArea">
					<%= link_to "Invite others", step2_path, :method => "get", class: "btn btn-success inputButton" %>
				</div>
			</div>
			<div class="col-sm-1"></div>
		</div>
	</div>
</div>
