<div class="intro-header"></div>
<div id="section wrap">
	<%= render 'layouts/header' %> 
	<div class="container mainBody">
		<div class="row">
			<div class="page-header">
			  <h2>Step 8 of 8: Thank you!</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-1"></div>
			<div class="col-sm-5">
				<h4>We appreciate both your time and input!</h4></br>
				<h4>Before you go....Do you know others who might be interested in what we're doing? If so, please pass the word--we'd love to hear what they think!</h4>
			</div>
			<div class="col-sm-5">
				<div class="row textAreaThanks"></div>
				<div class="row buttonArea">
					<%= form_for @new, url: new_user_invitation_path, method: :get  do |f| %>
						<%= f.hidden_field :invited_for_exploration_id, value: @sessions_info %>
						<%= f.submit id: "inviteButton", value: "Invite others", class: "btn btn-success inputButton" %>
					<% end %>
				</div>
			</div>
			<div class="col-sm-1"></div>
		</div>
	</div>
</div>
