<div class="intro-header"></div>
<div id="section wrap">
	<%= render 'layouts/header' %> 
	<div class="container mainBody">
		<div class="row">
			<div class="page-header">
			  <h2>Step 6 of 8: Spending time with friends</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-1"></div>
			<div class="col-sm-5">
				<div class="row">
					<camera id='jifour' data-app-id='a-ea644890-87df-0132-10ec-22000a8c0328' data-sources='record,upload' data-maxlength='300' style='width:480px;height:270px;' data-poll-for-processed='true'></camera>
				</div>
				<div class="row">
					<h6 class="emailContact">Questions? Email me: ctiv@hotmail.com</h6>
				</div>
			</div>
			<div class="col-sm-5">
				<div class="row textArea">
					<h5 class="specialFontSize">Do you ever find sometimes going out with friends for beer can turn into being more about the beer than about the friends?</h5> 
					<h5 class="specialFontSize">If so, how do you deal with that?</h5>
					</br>
					</br>
					<h5 class="specialFontSize">Please use the webcam to share your thoughts.</h5>
				</div>
				<div class="row buttonArea">
					<%= link_to "Take me to Step 7", step7_path, :method => "get", class: "btn btn-success inputButton2", id: "step6Button", "disabled" =>"true"  %>
				</div>	
			</div>
			<div class="col-sm-1"></div>
		</div>
	</div>
</div>