
		<div class="row">
			<div class="page-header">
			  <h2>Step 1 of 8: Project intro</h2>
			</div>
		</div>
		<div class="row onlyRow">
			<div class="col-xs-0 col-sm-0 col-md-1"></div>
			<div class="col-xs-12 col-sm-6 col-md-5 videoArea">
				<video id='introVideo' class="img-responsive" data-uuid= <%= @problems.intro_video_id %> ></video>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-5">
				<div class="row textAreaToXS hidden-xs"> <!--Using class tags to change height of div based on device viewing-->
					<h5 class="specialFontSize"><%= @problems.intro_message %></h5>
				</div>
				<div class="row textAreaXS visible-xs"> <!--Using class tags to change height of div based on device viewing-->
					<h5 class="specialFontSize"><%= @problems.intro_message %></h5>
				</div>
				<div class="row buttonArea">
					<%= link_to "Take me to Step 2", pstep2_path, class: "btn btn-success inputButton2" %>
				</div>	
			</div>
			<div class="col-xs-0 col-sm-0 col-md-1"></div>
		</div>
