
		<div class="row">
			<div class="page-header">
			  <h2>Step 1 of 8: Intro</h2>
			</div>
		</div>
		<div class="row onlyRow">
			<div class="col-xs-0 col-sm-0 col-md-1"></div>
			<div class="col-xs-12 col-sm-6 col-md-5 videoArea">
				<video id='introVideo' class="img-responsive" data-uuid='v-06e647be-b3f1-4a3f-aa16-713410294c6b'></video>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-5">
				<div class="row textAreaToXS hidden-xs"> <!--Using class tags to change height of div based on device viewing-->
					<h4 class="introMessage">Play the video to hear the background on our project.</h4>
				</div>
				<div class="row textAreaXS visible-xs"> <!--Using class tags to change height of div based on device viewing-->
					<h4 class="introMessage">Play the video to hear the background on our project.</h4>
				</div>
				<div class="row buttonArea">
					<%= link_to "Take me to Step 2", pstep2_path, class: "btn btn-success inputButton2" %>
				</div>	
			</div>
			<div class="col-xs-0 col-sm-0 col-md-1"></div>
		</div>
