
		<div class="row">
			<div class="page-header">
			  <h2>A few thoughts from bonu</h2>
			</div>
		</div>
		<div class="row onlyRow">
			<div class="col-xs-0 col-sm-0 col-md-1"></div>
			<div class="col-xs-12 col-sm-6 col-md-5 videoArea">
				<video id='introVideo' class="img-responsive" data-uuid='v-06e647be-b3f1-4a3f-aa16-713410294c6b'></video>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-5">
				<div class="row textAreaToXS hidden-xs"> <!--Using class tags to change height of div based on device viewing-->
					<h5 class="specialFontSize">This one minute video from bonu explains a bit about what's going on here and how critical your part in the process is.</h5>
				</div>
				<div class="row textAreaXS visible-xs"> <!--Using class tags to change height of div based on device viewing-->
					<h5 class="specialFontSize">This one minute video from bonu explains a bit about what's going on here and how critical your part in the process is.</h5>
				</div>
				<div class="row buttonArea">
					<%= link_to "Got it. Let's go!", pstep1_path, class: "btn btn-success inputButton2" %>
				</div>	
			</div>
			<div class="col-xs-0 col-sm-0 col-md-1"></div>
		</div>
