
		<div class="row">
			<div class="page-header">
			  <h2>A few thoughts from bonu</h2>
			</div>
		</div>
		<div class="row onlyRow">
			<div class="col-xs-0 col-sm-0 col-md-1"></div>
			<div class="col-xs-12 col-sm-6 col-md-5 videoArea">
				<video id='introVideo' class="img-responsive" data-uuid="v-66d09c00-f211-4989-8fad-f1bd1937cb75", 
				data-options="{"logo": { "file": "https://s3-us-west-2.amazonaws.com/jiproblemtest/videoEnd.png"}}"></video>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-5">
				<div class="row textAreaToXS hidden-xs"> <!--Using class tags to change height of div based on device viewing-->
					<h5 class="specialFontSize">This one minute video from bonu explains a bit about what's going on here and how critical your part is in the process.</h5>
				</div>
				<div class="row textAreaXS visible-xs"> <!--Using class tags to change height of div based on device viewing-->
					<h5 class="specialFontSize">This one minute video from bonu explains a bit about what's going on here and how critical your part is in the process.</h5>
				</div>
				<div class="row buttonArea">
					<%= link_to "Got it. Let's go!", pstep1_path, class: "btn btn-success inputButton" %>
				</div>	
			</div>
			<div class="col-xs-0 col-sm-0 col-md-1"></div>
		</div>
