<%= render 'layouts/header' %> 
<div class="container">
	<h2>Content here for <%= @problems.exploration.short_description %> <%= @exploration_user_id.status %> step</h2>
</div>
<%= render 'layouts/footer' %>