<%= render 'layouts/header' %> 
<div class="container">
		<div class="row">
			<div class="page-header">
			  <h2>Activity</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-0 col-md-1"></div>
			<div class="col-xs-12 col-md-10">
				<% if !@exploration_ids.empty? %>
					<%= render 'exploration_overview' %>
				<% else %>
					<h3>You haven't chosen to share any thoughts yet! Choose an opportunity below to get started.</h3>
				<% end %>
			</div>
			<div class="col-xs-0 col-md-1"></div>
		</div>
		<% if !@unexplored_exploration_ids.empty? %>
			<div class="row moreOppty">
				<div class="page-header">
				  <h2>Exploration opportunities</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-0 col-md-1"></div>
				<div class="col-xs-12 col-md-10">
					<%= render 'opportunity_overview' %>
				</div>
				<div class="col-xs-0 col-md-1"></div>
			</div>
		<% end %>
	</div>
<%= render 'layouts/footer' %>