<head>
	<script src='//cameratag.com/api/v4/js/cameratag.js' type='text/javascript'></script>
</head>
<body>
	<h1>Camera Test</h1>
	<camera id='ji' data-app-id='a-32eb0680-75e3-0132-1565-22000a8c0328' data-maxlength='300'></camera>
</body>
