<html class="homeImage img-responsive">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
	</head>
	<body class="homeBody">
		<%= render 'layouts/header' %> 
		<!-- Page Content -->
	        	<div class="row valueStatement">
		            <div class="col-xs-0 col-md-1"></div>
		            <div class="col-xs-12 col-md-10">
		                <h1>Turn "I have an idea" into an actual business.</h1>
		            </div>
		            <div class="col-xs-0 col-md-1"></div>
		        </div>
	        <!-- /.row -->	
	        <section class="homeSecond">
	   			<div class="row">
	        		<h2>bonu helps entrepreneurs succeed</h2>
	        	</div>
	        	<div class="row valuePropRow">
	        		<div class="col-sm-4">
	        			<h3 class="glyphicon glyphicon-refresh"></h3>
	        			<h3>Learn quickly.</h3> 
	        			<h4 class="valueDesc">bonu simplifies the customer development process so you can focus on what you learn and what it means for your product or service.</h4>
	        		</div>
	        		<div class="col-sm-4">
	        			<h3 class="glyphicon glyphicon-search"></h3>
	        			<h3>Focus on what matters.</h3>
	        			<h4 class="valueDesc">bonu makes it easy to learn what matters most so you can avoid wasting time, money, and effort building a solution no one cares about.</h4>
	        		</div>
	        		<div class="col-sm-4">
	        			<h3 class="glyphicon glyphicon-signal"></h3>
	        			<h3>Build early interest.</h3> 
	        			<h4 class="valueDesc">bonu helps you engage potential customers through early and periodic touch points, creating anticipation for what you're building.</h4>
	        		</div>		
	        	</div>
	        </section>
	        <section class="homeThird">
	        	<div class="row">
	        		<h2>Start now</h2>
	        	</div>
	        	<div class="row valuePropRow">
	        		<div class="col-sm-1"></div>
	        		<div class="col-sm-5">
	        			<h3 class="glyphicon glyphicon-plane"></h3>
	        			<h3>A pilot for entrepreneurs.</h3> 
	        			<h4 class="valueDesc">We're currently conducting a limited pilot. If you have an idea you'd like explore, <%= mail_to "carl@bonu.co", "contact us" %>; we'd love to help.</h4>
	        		</div>
	        		<div class="col-sm-5">
	        			<h3 class="glyphicon glyphicon-thumbs-up"></h3>
	        			<h3>Participation for all.</h3>
	        			<h4 class="valueDesc">If you were invited to discuss a specific topic, please <%= link_to "sign up", new_user_registration_path %> and get started. Your input is invaluable to our aspiring entreprenuers!</h4>
	        		</div>
	        		<div class="col-sm-1"></div>		
	        	</div>
	        </section>
		<%= render 'layouts/footer' %>
	</body>
</html>