<%-#  the next line of code is needed to satisfy surveyor_gui requirements, otherwise js freezes/loops -%>
<div id="surveyor_gui_mount_point" data-surveyor_gui_mount_point="<%= surveyor_gui.surveyforms_path %>"></div>
<div class="intro-header"></div> 
<div id="section wrap">
	<%= render 'layouts/header' %> 
	<div class="container mainBody">
		<div class="row">
			<div class="page-header">
			  <h1>Home Page</h1>
			</div>
		</div>
	</div>
</div>
