
	<div id="wrapper">
		<div id="mainBody">
			<div id="textBody">
				<h2 class="sectionHeader" id="headline">Partake Privacy Policy</h2 class="sectionHeader">
				<h4 class="sectionText">Your privacy is just that: yours. That means you have absolute control over what you share on the Partake website (<a href="http://www.wepartake.com">www.wepartake.com</a>) and through the Partake mobile application (“Application”). Partake will only ask for information from you if it explicitly helps make our service to you better, and every time we gather personal information you will know and have the opportunity to consent.  With that in mind, this privacy policy explains what types of information you might provide to us and how we will use that information.</h2 class="sectionHeader">
				<h2 class="sectionHeader">What information does Partake collect?</h2 class="sectionHeader">
				<h4 class="sectionText">The Application collects the information you provide when you download and register the Application. This includes personal information like your name, email address, password and credit card data as well as non-identifying information like your city and state.<br><br>
				The Application also collects information you provide related to each individual event, including whether you intend to participate, when you check-in to a venue, and your feedback about the experience.   Also, the Application makes note of your friend connections as well as all communications between friends that takes places within the Application.<br><br>
				Finally, the Application may collect certain information automatically, including, but not limited to, the type of mobile device you use, the IP address of your mobile device, your mobile operating system, the type of mobile Internet browsers you use, and information about the way you use the Application.</h4 class="sectionText">
				<h2 class="sectionHeader">How does Partake use the information it collects?</h2 class="sectionHeader">
				<h4 class="sectionText">We use the information collected through the Application to:
					<ul>
						<li class="sectionBullets">streamline planning logistics for dinner or drinks with friends;</li>
						<li class="sectionBullets">enhance the dinner and/or drink experiences for users and their friends;</li>
						<li class="sectionBullets">simplify the billing process associated with purchasing dinner or drinks;</li> 
						<li class="sectionBullets">respond to emails, suggestions, questions, comments, requests, and complaints related to the Application;</li>
						<li class="sectionBullets">monitor and analyze the Application’s use and related trends so we can improve the user experience whenever possible;</li>
						<li class="sectionBullets">send you confirmations, updates, security alerts, and support related specifically to our services; and,</li>
						<li class="sectionBullets">ensure the Application is delivering the service promised to its users.</li> 
					</ul>
				</h4 class="sectionText">
				<h2 class="sectionHeader">Do third parties see and/or have access to information collected by Partake?</h2 class="sectionHeader">
				<h4 class="sectionText">The following explains how information provided by you to Partake might be shared:
					<ul>
						<li class="sectionBullets">anyone you’ve joined for dinner or drinks though Partake will be able to see your activity and feedback related to that particular event;</li>
						<li class="sectionBullets">owners and/or managers of the local venue visited will see all feedback related to the experience at their venue, even if the user doesn’t share this feedback publically;</li> 
						<li class="sectionBullets">we may periodically transmit aggregated, anonymized data to external services to help us improve the Application and our service;</li>
						<li class="sectionBullets">when we believe in good faith that disclosure is necessary to protect our rights, protect your safety or the safety of others, investigate fraud, or respond to a government request. Similarly, as required by law, such as to comply with a subpoena, or similar legal process;</li>
						<li class="sectionBullets">to enforce or apply our privacy policy or our terms of use; and</li>
						<li class="sectionBullets">if Partake Incorporated is involved in a merger, acquisition, or sale of company assets, financing, or in any other situation where personal information may be disclosed or transferred as one of our business assets. In such cases, you will be notified via email to consider any choices you may have regarding this change.</li> 
					</ul>
					We are not responsible for the actions of service providers or other third parties, nor are we responsible for any additional information you provide directly to any third parties.</h4 class="sectionText">
				<h2 class="sectionHeader">Does Partake collect precise, real time location information of my device?</h2 class="sectionHeader">
				<h4 class="sectionText">The Application can use your current location to provide directions to a local venue if you choose to give permission to do so. However, Partake never stores or tracks your current location.</h4 class="sectionText">
				<h2 class="sectionHeader">What are my opt-out rights?</h2 class="sectionHeader">
				<h4 class="sectionText">You can stop all collection of information by the Application easily by uninstalling the Application. You may use the standard uninstall processes as may be available as part of your mobile device or via the mobile application marketplace or network.</h4 class="sectionText">
				<h2 class="sectionHeader">What steps do we take to protect your information online?</h2 class="sectionHeader">
				<h4 class="sectionText">We take seriously the responsibility to safeguard your information. We provide physical, electronic, and procedural safeguards to protect information we process and maintain. That said, please be aware that, although we endeavor to provide reasonable security for information we process and maintain, no security system can prevent all potential security breaches.<h4 class="sectionText">
				<h2 class="sectionHeader">Our policy toward children</h2 class="sectionHeader">
				<h4 class="sectionText">Partake is not directed to children under 13 and we do not use the Application to knowingly solicit data from or market to children under the age of 13. Furthermore, in accordance with our Privacy Policy, the Partake service is available only to individuals who are at least 18 years old.   If a parent or guardian becomes aware that his or her child has provided us with information without their consent, he or she should contact us at <a href="mailto:support@wepartake.com">support@wepartake.com</a>. We will delete such information from our files as soon as possible.</h4 class="sectionText">
				<h2 class="sectionHeader">Your consent</h2 class="sectionHeader">
				<h4 class="sectionText">By using the Application, you are consenting to our processing of your information as set forth in this Privacy Policy now and as amended by us. "Processing" means using cookies on a computer/hand held device or using or touching information in any way, including, but not limited to, collecting, storing, deleting, using, combining and disclosing information, all of which activities will take place in the United States. If you reside outside the United States your information will be transferred, processed and stored under United States privacy standards.</h4 class="sectionText">
				<h2 class="sectionHeader">Changes</h2 class="sectionHeader">
				<h4 class="sectionText">All information collected is subject to the privacy policy in effect at that time. However, this privacy policy may be updated from time to time for any reason. We will notify you of any material changes to our privacy policy by posting the new privacy policy here and informing you via email or in-application message. You are advised to consult this privacy policy regularly for any changes, as continued use is deemed approval of all changes.</h4 class="sectionText">
				<h2 class="sectionHeader">Questions?</h2 class="sectionHeader">
				<h4 class="sectionText">Please <a href="mailto:support@wepartake.com">contact us</a> if you have any questions about our privacy policy.</h4 class="sectionText"><br><br>
				<h4 class="sectionText">Effective: December 1st, 2013</h4 class="sectionText">
			</div>
		</div>
		<div id="privacyFooter">
			<div id="footerText">
				<h5 class="footerText">Partake &copy; 2013</h5>
				<a href="privacy.html"><h5 class="footerText">Privacy</h5></a>
				<a href="terms.html"><h5 class="footerText">Terms</h5></a>
				<a href="mailto:support@wepartake.com"><h5 class="footerText">Contact</h5></a>
				<a href="https://twitter.com/WePartake" target=”_blank”><h5 class="footerText footerIcons icon-twitter"></h5></a>
				<a href="https://www.facebook.com/wepartake" target=”_blank”><h5 class="footerText footerIcons icon-facebook"></h5></a>
			</div>
		</div>
	</div>
