<%= render 'layouts/header' %> 
<!-- Page Content -->
<div class="container">
	<div class="row">
		<div class="col-sm-1"></div>
		<div class="col-sm-10 page-header">
		  <h2>BONU's Privacy Policy</h2>
		</div>
		<div class="col-sm-1"></div>
	</div>
	<div class="row docs">
		<div class="col-sm-1"></div>
		<div class="col-sm-10">
			<h5>BONU ("BONU," "we," "us," or "our") believes your privacy is just that: yours. That means you have absolute 
				control over what you share on the BONU website (<%= link_to "www.bonu.co", root_path %>) and through 
				related services ("Services"). BONU will only ask for information from you if it is explicitly related to our 
				Service, whether it pertains to your BONU account or to the input you provide to an aspiring entrepreneur.  In 
				all cases, every time you provide personal information it will be with your full consent and understanding. 
				With that in mind, this privacy policy explains what types of information you might provide while using our 
				Services and how we or aspiring entrepreneurs could use that information.</h5>
			<h3>Personal Information We Collect or You May Provide</h3>
			<h5>You provide the following personal information when you sign up with BONU:</h5>
				<ul>
					<li>Your first name</li>
					<li>Your email address</li>
					<li>Your LinkedIn information if you are signing up via LinkedIn's API.  This will authenticate your 
						identity and link your LinkedIn Profile information, such as your name, email address, and occupation 
						to your BONU account.</li> 
				</ul>
			<h5>You may provide specific information to an aspiring entrepreneur when providing input on an idea. This information
				is by default shared with BONU as well and becomes linked to your user account. Examples of this type of information
				include but are not limited to:</h5> 
				<ul>
					<li>Your gender</li>
					<li>Your marital status</li>
					<li>Your occupation</li> 
					<li>Your location</li>
					<li>Other personal information specifically related to the idea being explored by an aspiring entrepreneur</li> 
				</ul>
			<h3>How We or Aspiring Entrepreneurs Use Your Personal Information</h3>
			<h5>We may use your personal information to:</h5>
				<ul>
					<li>Register you on BONU and identify you when you log in to our Service</li>
					<li>Respond to your questions, comments, requests, and complaints related to our Service</li>
					<li>Conduct research and analyze data to improve the user experience of our Service</li>
					<li>Send you confirmations, updates, security alerts, and support related to our Services</li>
					<li>Aggregate and anonymize data to analyze input opportunities for aspiring entrepreneurs</li>
					<li>Ensure we are delivering the service promised to our users</li>
					<li>Communicate with you</li> 
				</ul>
			<h5>Aspiring entrepreneurs may use your personal information to:</h5>
				<ul>
					<li>Conduct research and analyze data to determine if the service or product they are considering appeals to you or others similar to you</li>
					<li>Send you follow-up communications to clarify pieces of information you provided</li>
					<li>Respond to your questions, comments, requests, and complaints related to the service or product they are considering</li>
				</ul>
			<h3>How We Share Your Personal Information with Third Parties</h3>
			<h5>We will share your personal information with third parties only in the ways that are described in this privacy 
				policy. We do not sell your Personal Information to third parties.</h5>
			<h5>We may share your Personal information in the following ways:</h5>
				<ul>
					<li>When we believe in good faith that disclosure is necessary to protect our rights, protect your safety 
						or the safety of others, investigate fraud, or respond to a government request.</li>
					<li>As required by law, such as to comply with a subpoena, or similar legal process</li>
					<li>To enforce or apply our privacy policy or our terms of use</li>
					<li>With aspiring entrepreneurs only when you have explicitely agreed on an individual data level</li>
				</ul>
			<h5>We will not share your information with aspiring entrepreneurs without your explicit consent on an individual
				data level. For instance, if your gender is stored in your user account, that would not be shared unless or until
				you indicate you want to share that specific piece of information with an aspiring entrepreneur. And in all cases, 
				your data will be shared with aspiring entrepreneurs only in an anonymous fashion unless you specifically share 
				personally identifiable information.</h5>
			<h3>How We Store and Protect Your Personal Information</h3>
			<h5>We may store your personal information in locations outside our direct control, such as on servers or databases 
				managed by hosting providers.</h5>
			<h5>We take seriously the responsibility to safeguard your personal information. We follow generally accepted standards to protect 
				the personal information submitted to us, both during transmission and once we receive it. However, no method 
				of transmission over the internet, or method of electronic storage, is 100% secure. Therefore, we cannot guarantee 
				its absolute security. If you have any questions about our security procedures, please <a href="mailto:support@bonu.co">
				contact us</a>.</h5>
			<h5>Should a security breach take place, we will promptly notify anyone whose personal information is compromised. 
				That said, BONU does not accept liability for any unintentional disclosure or a disclosure that occurs due to a 
				security breach of our systems or facilities.</h5>
			<h3>Your opt-out rights</h3>
			<h5>You can stop all collection of information by our Service at any time by closing your BONU user account.</h5>
			<h3>Our policy toward children</h3>
			<h5>BONU is not directed to children under 13 and we do not use the Service to knowingly solicit data from or market 
				to children under the age of 13. If you are between the ages of 13 and 17, please use BONU with adult supervision. 
				If you are a parent or guardian and believe your under-18-year-old child has provided information to us without 
				your consent, please <a href="mailto:support@bonu.co">contact us</a> and we will delete such information from our 
				files as soon as possible.</h5>
			<h3>Your consent</h3>
			<h5>By using the BONU service, you are consenting to our processing of your information as set forth in this privacy 
				policy now and as amended by us. "Processing" means using cookies on a computer/hand held device or using or 
				touching information in any way, including, but not limited to, collecting, storing, deleting, using, combining 
				and disclosing information, all of which activities will take place in the United States. If you reside outside 
				the United States your information will be transferred, processed and stored under United States privacy 
				standards. </h5>
			<h3>Changes</h3>
			<h5>All information collected is subject to the privacy policy in effect at that time. However, this privacy policy 
				may be updated from time to time for any reason. We will notify you of any material changes to our privacy policy 
				by posting the new privacy policy here and informing you via email or in-application message. You are advised to 
				consult this privacy policy regularly for any changes, as continued use is deemed approval of all changes. </h5>
			<h3>Questions?</h3>
			<h5>Please <a href="mailto:support@bonu.co">contact us</a> if you have any questions about our privacy policy.</h5><br>
			<h5>Effective: February 21, 2015</h5><br>
		</div>
		<div class="col-sm-1"></div>
	</div>
</div>
<%= render 'layouts/footer' %> 		