<%= render 'layouts/header' %> 
<div class="container">
	<div class="row">
		<div class="col-sm-1"></div>
		<div class="col-sm-10 page-header">
		  <h2>BONU's Terms of Use</h2>
		</div>
		<div class="col-sm-1"></div>
	</div>
	<div class="row docs">
		<div class="col-sm-1"></div>
		<div class="col-sm-10">
			<h5>Please read these terms of use carefully (“Terms”). These Terms govern and apply to your access and use of the 
				BONU services available on BONU’s website (<%= link_to "www.bonu.co", root_path %>; "Services"). By 
				accessing or using any part of our Service, you agree to become bound by the terms and conditions of this 
				agreement. If you do not agree to all the terms and conditions of this agreement, then you may not access or 
				use any of our Service.</h5>
			<h3>BONU Services</h3>
			<h5>BONU is an online crowdsourcing service that enables aspiring entrepreneurs ("Entrepreneurs") to explore business 
				ideas ("Explorations"). The means by which Entrepreneurs will conduct Explorations is to gather input from 
				potential customers to determine 1) who the ideal customer might be, 2) what the ideal customer actually cares
				about, and 3) what the ideal customer thinks about the product or service the Entreprenuer is considering.</h5>
			<h5>You have the right to use the BONU Service if you agree:</h5>
				<ul>
					<li>You are an individual person at least 18 years of age or 13 years of age with parental consent</li>
					<li>Your use of this Service will at all times comply with these Terms</li>
					<li>You will create no more than one account to be used only for your personal use</li> 
					<li>You own the right to provide all information you submit to the Service and that all information 
						provided by you is correct, true, and current</li>
					<li>You will not use the Service in any unlawful manner</li>
				</ul>
			<h3>Service availability</h3>
			<h5>When you access the Service you acknowledge that these Terms exist only between you and BONU and this Service 
				may change or evolve over time, including but not limited to adding advertisements.  Should new features appear, 
				the Service will post new related Terms providing you the opportunity to cease use of the Service if you so choose. 
				Similarly, there may be interruptions to the Service that are beyond our control and/or the Service may cease from 
				time to time, possibly without prior notice to you.  BONU retains the sole discretion to change the Service or 
				even deny you access to the Service at any time or for any reason.</h5>
			<h3>Service ownership</h3>
			<h5>The content, information and process included in the Service is protected by copyright, trademark, and other 
				laws of the United States and belong to BONU.  You may not for any purpose copy, modify, distribute, transfer, 
				sublicense, lease, lend, rent, distribute, decompile, reverse-engineer, disassemble, or create derivative 
				works of any content, information, software, products, or services obtained through the Service.  You 
				acknowledge and agree that any feedback, comments or suggestions you may provide regarding the Service will 
				become the exclusive property of BONU.</h5>
			<h3>Information transmission</h3>
			<h5>Because we cannot control the security of the Internet or other networks you use to access the Service, BONU 
				is not responsible for the security of information you share with the Service while it is being transmitted.</h5>
			<h3>Conduct while using the Service</h3>
			<h5>To continually access and use the BONU Service, you must agree to not take part in any of the following (as 
				judged by BONU):</h5>
				<ul>
					<li>Create multiple accounts or purposefully supply false information or commit fraud when establishing 
						your account</li>
					<li>Provide Exploration input that is false, non-meaningful, or otherwise misleading</li>
					<li>Attempt to or actually access BONU data not intended for you by logging into a server or an account 
						you are not authorized to access</li>
					<li>Attempt to or actually test the security of the Service or interfere with the functionality of any 
						part of the Service;</li>
					<li>Act illegally or maliciously against BONU, our partners, entrepreneurs, or other users</li>
				</ul>
			<h3>Creating a BONU account</h3>
			<h5>In order to access and use BONU, you need to register and create one account (“Account”) and only one account. 
				Your account is non-transferrable and may not be sold, combined or otherwise shared with any other person.  
				By creating an Account, you represent that you are of legal age to form a binding contract. When creating 
				an Account, you may be required to provide certain personal information about yourself and will establish 
				a password. You agree to provide accurate, current and complete information about your Account.  You are 
				responsible for maintaining the confidentiality of your password and Account and you agree to notify us if 
				your password is lost, stolen, or disclosed to an unauthorized third party. You are responsible for activities 
				that occur under your Account.</h5>
			<h5>We reserve the right to suspend or terminate your Account if any information provided during the registration 
				process or thereafter proves to be inaccurate, false or misleading. If we terminate your account, we reserve the 
				right to hold you liable for any and all damages suffered and you may not enroll or join the Service again in any 
				way unless specifically invited by BONU.</h5>
			<h3>Privacy policy</h3>
			<h5>Please refer to our <%= link_to "Privacy Policy", privacy_path %> for information on how we collect, use, and 
				disclose information from those who use the Service.</h5>
			<h3>User communications</h3>
			<h5>BONU facilitates communication between those who provide input on business ideas and aspiring entrepreneurs.
				BONU has the right, but not the obligation, to monitor the content within these communications any time, for 
				any reason, including to determine compliance with these Terms as well as to satisfy any applicable law, 
				regulation or authorized government request.</h5>
			<h3>Indemnity</h3>
			<h5>You agree to indemnify and hold BONU and their respective directors, officers, employees, agents, and partners 
				harmless from and against any and all costs, damages, liabilities, and expenses, including  attorneys' fees, 
				arising from or in relation to, or for the purpose of avoiding, any claim or demand from a third party that your 
				use of the Service or the use of the Service by any person using your Account violates these Terms or any applicable 
				law or regulation, or the rights of any third party.</h5>
			<h5>You are solely and completely responsible for your interactions with Entrepreneurs who use this Service.  Given that, 
				you agree to release BONU from any and all claims or liability related to interactions with or services provided 
				by Entrepreneurs, including an Entrepreneur’s failure to comply with applicable laws or these Terms and any online or 
				offline conduct, or others users of this Service.</h5>
			<h3>Links to third party sites</h3>
			<h5>The Service may include links to other sites and services that are not operated by BONU but are used by Entrepreneurs
				as part of their Explorations. We are providing these links only as a convenience and not because we endorse or have an 
				opinion about the contents on such websites. We are not responsible for the content or links displayed on such sites. 
				You are responsible for and assume all risk arising from your use or reliance of any third party sites.</h5>
			<h3>Termination</h3>
			<h5>If you breach any of these Terms, we have the right to suspend or terminate your access to the Service.</h5>
			<h3>Disclaimer</h3>
			<h5>You understand and agree that the Service is provided to you “as is” and on an “as available” basis. Without 
				limitations, we disclaim all warranties and we make no warranty that the Service will meet your requirements 
				or be available on an uninterrupted, secure, or error-free basis.</h5>
			<h3>Limitation of liability</h3>
			<h5>In no event will BONU, its partners, officers, directors, employees, or agents be liable for any indirect, 
				incidental, special, consequential, or punitive damages arising out of or related to your use of the Service.  
				BONU’s total liability to you from all causes of action and under all theories of liability will be limited to 
				the amount paid for the Service and in no event will it exceed $50.</h5>
			<h3>General choice of law</h3>
			<h5>Any disputes arising out of your use of the Service or related to these Terms will be governed by the internal 
				laws of the State of Washington, without regard to its choice of law rules and without regard to conflicts of laws, 
				except that the Arbitration provision shall be governed by the Federal Arbitration Act.</h5>
			<h5>These Terms are governed by the laws of the State of Washington, without regard to any conflict of laws rules or 
				principles.  The only exception is that the Arbitration provision shall be governed by the Federal Arbitration Act.  
				Our failure to enforce any portion or aspect of these Terms will not be considered a waiver of those rights. If any 
				provision of these Terms is held to be invalid or unenforceable by a court, the remaining provisions of these Terms 
				will remain in effect. These Terms constitute the entire agreement between us regarding our Service, and supersede 
				and replace any prior agreements we might have between us regarding the Service. We may revise these Terms from time 
				to time. By continuing to access or use our Service after those revisions become effective, you agree to be bound by 
				the revised terms.</h5>
			<h3>Questions?</h3>
			<h5>Please <a href="mailto:support@bonu.co">contact us</a> if you have any questions about our Terms.</h5><br>
			<h5>Effective: February 21, 2015</h5><br>
		</div>
		<div class="col-sm-1"></div>
	</div>
</div>
<%= render 'layouts/footer' %> 