<div class="col-sm-2">
							<h3><%= @completed %>%</h3>
							<h6 class="gray">complete</h6>
						</div>
						<div class="col-sm-2">
							<h3><%= @people %></h3>
							<h6 class="gray">participants</h6>
						</div>
						<div class="col-sm-2">
							<h3><%= @days_left %></h3>
							<h6 class="gray">days to go</h6>                                                                         
						</div>